@font-face {
  font-family: Gilroy;
  src: url(./assests/gilroy.otf);
}
@font-face {
  font-family: gilroy-light;
  src: url(./assests/Gilroy-Light.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  font-family: Gilroy !important;
  background-color: #111214 !important;
  /* background: linear-gradient(
  
    to left,
    hsl(210, 64%, 9%),
    hsl(212, 80%, 27%)
  ); */
}

html,
body {
    overscroll-behavior-y: contain;
}